altgraph==0.17.4
auto-py-to-exe==2.43.3
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
Eel==0.16.0
exceptiongroup==1.2.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.6
importlib_metadata==7.1.0
iniconfig==2.0.0
packaging==24.0
pefile==2023.2.7
pluggy==1.4.0
pycparser==2.22
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pyparsing==3.1.2
PySide2==5.15.2.1
pytest==8.1.1
pytube==15.0.0
pywin32-ctypes==0.2.2
requests==2.31.0
shiboken2==5.15.2.1
tomli==2.0.1
urllib3==2.2.1
whichcraft==0.6.1
zipp==3.18.1
zope.event==5.0
zope.interface==6.2
